/* Font Face*/

html,
body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

p {
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
}


/*typography bootstrap overrides*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 60px;
	letter-spacing: 10px;
	line-height: 1;
}

.h1-hero {
	font-size: 50px;
}

h2 {
	font-size: 28px;
	line-height: 1;
	letter-spacing: 2px;
}

h3 {
	margin-top: 0px;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: none;
}

h4 {
	font-size: 18px;
	letter-spacing: 5px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 13px;
}

p {
	font-size: 16px;
	line-height: 25px;
	font-weight: 100;
}

a {
	color: #16a9e1;
	background: transparent;
	outline: none;
	text-decoration: none;
	-webkit-transition: 0.4s cubic-bezier(0.25, .46, .45, .94);
	transition: 0.4s cubic-bezier(0.25, .46, .45, .94);
	-webkit-transition-property: background-color, color;
	transition-property: background-color, color;
}

a:active,
a:hover,
a:focus {
	outline: 0;
	background: transparent;
	color: #16a9e1;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
	font-size: 15px;
	line-height: 24px;
}

.shadow {
	/*text-shadow: 2px 2px #232a33;*/
}

.handle-text {
	margin-bottom: 0;
}

.white {
	color: #ffffff;
}

.blue {
	color: #263048;
}

.footer-grey {
	color: #c6ced8
}

.footer-links ul {
	font-size: 12px;
}

.footer p {
	font-size: 12px;
}

.lt-blue {
	color: #16a9e1;
}

.purple {
	color: #932785;
}

.purple-bk {
	background-color: #932785;
}

.lt-blue-bk {
	background-color: #16a9e1;
}

.white-bk {
	background-color: #ffffff;
}

.blue-bk {
	background-color: #263048;
}

.dk-grey {
	color: #333333;
}

.md-grey {
	color: #7c8690;
}

.lt-grey-bk {
	background-color: #e4f0f5;
}

.grey-bk {
	background-color: #232a33;
}

/*///////////////////////////General Spacing///////////////////////////*/

.clr {
	clear: both;
	font-size: 0;
	overflow: hidden;
	height: 0;
}

.padding-50 {
	padding: 50px 0;
}

.pad-sides-50 {
	padding: 0px 20px 0px 20px;
}

.pad-bot-50 {
	padding-bottom: 50px;
}

.pad-bot-80 {
	padding-bottom: 80px;
}

.pad-bot-30 {
	padding-bottom: 30px;
}

.pad-bot-20 {
	padding-bottom: 20px;
}

.pad-bot-10 {
	padding-bottom: 10px;
}

.padding-80 {
	padding: 80px 0;
}

.padding-100 {
	padding: 100px 0;
}

.mar-bot-40 {
	margin-bottom: 40px;
}

.mar-bot-20 {
	margin-bottom: 20px;
}

.no-pad {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.no-pad-bot {
	padding-bottom: 0;
}

.container-90 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: table;
}

.container-80 {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: table;
}

.container-100 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: table;
}

.max-460 {
	max-width: 460px;
	margin: 0 auto;
}

.max-600 {
	max-width: 600px;
	margin: 0 auto;
}

.max-675 {
	max-width: 675px;
	margin: 0 auto;
}

.max-800 {
	max-width: 800px;
	margin: 0 auto;
}

.min-ht-300 {
	min-height: 300px;
}

.min-ht-350 {
	min-height: 350px;
}

.min-ht-400 {
	min-height: 400px;
}

.min-ht-450 {
	min-height: 450px;
}

.min-ht-525 {
	min-height: 525px;
}

.min-ht-600 {
	min-height: 600px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.max-775 {
	max-width: 775px;
	margin: 0 auto;
}

.text-up {
	visibility: visible;
	animation-delay: 1s;
	animation-name: fadeInUp;
}

/*///////////////////////////FULL SCREEN///////////////////////////*/

.carousel-100 {
	background-position: center 0%;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
}

.carousel-50 {
	background-position: center 0%;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: fixed;
	width: 100%;
	height: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	min-height: 350px;
}

.fullscreen-slider {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
	overflow-y: hidden;
}

.fullscreen-slide {
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}

.fullscreen-slide p {
	padding-left: 20px;
	padding-right: 20px;
}

.fullscreen-slide-cell {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.fullscreen-slide-center {
	z-index: 9;
	position: relative;
}


/*///////////////////////////NAVIGATION////////////////////////////*/

.header-wrapper {}

.header {
	height: 160px;
	position: absolute;
	z-index: 10;
	width: 100%;
	background-color: transparent;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}

/*.logo {
	position: absolute;
	top: 60px;
	left: 60px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}

.logo img {
	width: 56px;
}*/

.navi {
	position: relative;
	z-index: 2;
}

.navi ul {
	margin: 0 auto;
	max-width: 850px;
	background-color: transparent;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}

.navi li {
	display: inline;
}

.navi li a:link,
.navi li a:visited {
	display: inline-block;
	float: left;
	padding: 75px 40px 20px;
	font-size: 15px;
	color: #fff;
	border-top: 5px solid transparent;
	text-transform: uppercase;
	letter-spacing: 3px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}

.navi li a:hover,
.navi li a.selected {
	border-top: 5px solid #16a9e1;
}

.navi li:last-of-type a {
	border-top: none;
	padding: 25px 50px 25px;
}

.btn-theme {
	font-family: 'GothamMedium';
	letter-spacing: 1px;
	padding: 12px 40px;
	border-radius: 0;
	font-size: 12px;
	display: inline-block;
}

.btn-theme:hover {
	background-color: #16a9e1;
	color: #ffffff !important;
	border: 3px solid #16a9e1;
}

.hamburger {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 60px;
	width: 34px;
	height: 34px;
	transition: all 0.25s;
	z-index: 10;
}

.hamburger__top-bun {
	top: 10px;
	transform: translateY(-3px);
}

.hamburger__mid-bun {
	top: 16px;
	transform: translateY(-3px);
}

.hamburger__bottom-bun {
	bottom: 9px;
	transform: translateY(3px);
}

.hamburger__top-bun,
.hamburger__mid-bun,
.hamburger__bottom-bun {
	content: '';
	display: block;
	position: absolute;
	left: 5px;
	width: 24px;
	height: 3px;
	background: #fff;
	transform: rotate(0);
	transition: all 0.25s;
}

.solid {
	background-color: #232a33;
}

.open {
	transform: rotate(90deg);
}

.open .hamburger__top-bun {
	top: 16px;
	transform: rotate(-135deg) translateY(0px);
}

.open .hamburger__mid-bun {
	display: none;
}

.open .hamburger__bottom-bun {
	bottom: 15px;
	transform: rotate(135deg) translateY(0px);
}

.contact {
	position: absolute;
	top: -13px;
	right: 30px;
}

.contact img {
	width: 52px;
	height: auto;
}

/*///////////////////////////NAVIGATION END////////////////////////////*/


/*///////////////////////////INTRO SECTION///////////////////////////*/

.intro {
	z-index: 0;
	position: static !important;
}

.intro::after {
	content: "";
	background: url(./img/black-small-checks.png) repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 0;
}

.intro-logo img {
	width: 232px;
	height: auto;
}

.see-more {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 50px;
	width: 193px;
	height: 110px;
	z-index: 1;
}

.see-more-copy {
	font-family: 'GothamMedium', sans-serif;
	font-size: 12px;
	text-align: center;
	color: white;
}

.see-more-btn {
	text-align: center;
	display: block;
}

.corner {
	position: absolute;
	right: 0;
	margin-top: -20.5px;
}

.left-corner {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width: 297px;
	z-index: 0;
	width: 35%;
}

.left-corner img {
	width: 100%;
	height: auto;
}

.right-corner {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
	max-width: 481px;
	width: 35%;
	z-index: 1;
}

.right-corner img {
	width: 100%;
	height: auto;
}

.top-left-corner {
	position: absolute;
	left: 0;
	top: 0;
	max-width: 684px;
	z-index: 0;
	width: 40%;
	z-index: 1;
}

.top-left-corner img {
	width: 100%;
	height: auto;
}

.corner img {
	width: 73px;
	height: auto;
}

.see-all {
	padding-top: 10px;
}

.border-btn {
	border: 3px;
	border-style: solid;
}


/*///////////////////////////INTRO SECTION END///////////////////////////*/



/*///////////////////////////DEVELOPER SECTION/////////////////////////////*/

.dev-hero {
	background-image: url("../img/headerwoodflowers.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/our_work.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/our_work.jpg', sizingMethod='scale')";
}

/*///////////////////////////DEVELOPER SECTION END/////////////////////////////*/


/*//////////////////////TECH SKILLS//////////////////////////////*/

#live-here-perks .col-xs-2 {
	padding: 0 20px 0 0 !important;
}

.icon {
	float: right;
}

.skills-icon {
	width: 55px;
	height: auto;
}


/*////////////////////////////////TECH SKILLS END//////////////////////////////*/


/*////////////////////////////////PERSONAL LINKS SECTION//////////////////////////////*/

#personalLinks {
	background-image: url("../img/rockyBeach.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/our_work.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/our_work.jpg', sizingMethod='scale')";
}


/*////////////////////////////////PERSONAL LINKS SECTION END//////////////////////////////*/


/*///////////////////////////PROJECTS SECTION/////////////////////////////*/

.projects-hero {
	background-image: url("../img/redflower.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/our_work.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/our_work.jpg', sizingMethod='scale')";
}

.projects-hero::after {
	content: "";
	background: url(/img/black-small-checks.png) repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 0;
}

#projects-examples .col-xs-2 {
	padding: 0 20px 0 0 !important;
}
/*///////////////////////////PROJECTS SECTION END/////////////////////////////*/

/*///////////////////////////FOOTER/////////////////////////////////*/

/*.footer-logo {
	width: 202.5px;
	height: auto;
}*/

.copyright {
	font-size: 14px;
	max-width: 330px;
}

#footer h2 {
	margin-top: 0;
	padding-bottom: 20px;
}

.social-icon {
	width: 45px;
	height: auto;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.social-icon:hover {
	fill: #16a9e1;
}

.featured-box {
	min-height: 500px;
}

.featured-box img {
	width: 100%;
	height: auto;
	max-width: 336px;
}


/*///////////////////////////FOOTER END/////////////////////////////////*/


/*///////////////////////////MEDIA QUERIES/////////////////////////////////*/

@media screen and (min-width:999px) and (max-height:1000px) {
	.navi li a:link,
	.navi li a:visited {
		padding: 40px 25px;
	}
	.navi ul {
		max-width: 730px;
	}
	.logo {
		top: 30px;
	}
	h1 {
		font-size: 50px;
	}
	.intro-logo img {
		width: 172px;
	}
}

@media (min-width: 999px) {
	.navi {
		display: block !important;
	}
}

@media (max-width: 998px) {
	.featured-box {
		min-height: 550px;
	}
	.logo {
		top: 30px;
	}
	h1 {
		font-size: 40px;
	}
	.header {
		background-color: none;
		height: 120px;
	}
	.hamburger {
		display: block;
		top: 40px;
	}
	.navi {
		position: relative;
		top: 120px;
		display: none;
		z-index: 1;
	}
	.navi li {
		display: block;
	}
	.navi ul {
		float: none;
		background: #232a33;
		max-width: 100%;
	}
	.navi li a:link,
	.navi li a:visited {
		display: block;
		float: none;
		text-align: left;
		padding: 25px 25px;
		font-size: 16px;
		color: #fff;
		border-top: none;
		border-left: 5px solid transparent;
	}
	.navi li a:hover,
	.navi li a.selected {
		border-top: none;
		border-left: 5px solid #16a9e1;
		background-color: #000000;
	}
	.navi li:last-of-type a {
		xpadding: 25px 50px 25px;
	}
	.navi li:last-of-type img {
		xmax-width: 27px;
		position: relative;
		xtop: 5px;
	}
	.contact {
		position: relative;
		top: 0px;
		right: 0px;
	}
}
/*///////////////////////////MEDIA QUERIES END/////////////////////////////////*/